<div class="body-table">
  <div class="body-cell body-cell-login">
    <div class="body-form-content"><img src="images/hal-logo.png" style="width:100%;height:100%;margin-bottom:100px">
      <form name="vm.form" novalidate autocomplete="off">
        <jqx-input jqx-settings="vm.settings.input" name="email" placeholder="Email" ng-model="vm.email"
                   ng-required="true" autofocus ng-change="vm.onChange()" spellcheck="false"></jqx-input>
        <div class="error" ng-messages="vm.form.email.$error">
          <div ng-message="required">Required....</div>
        </div>
        <jqx-password-input jqx-settings="vm.settings.pass" name="password" placeholder="Password"
                            ng-model="vm.password" ng-required="true" valid-password="vm"
                            ng-change="vm.onChange()"></jqx-password-input>
        <div class="error" ng-messages="vm.form.password.$error">
          <div ng-message="required">Required....</div>
          <div ng-message="validPassword">{{ vm.passwordMessage }}</div>
        </div>
        <jqx-password-input jqx-settings="vm.settings.pass" name="confirmPassword" placeholder="Confirm Password"
                            ng-model="vm.confirmPassword" ng-required="true" match="password"
                            ng-change="vm.onChange()"></jqx-password-input>
        <div class="error" ng-messages="vm.form.confirmPassword.$error">
          <div ng-message="required">Required....</div>
          <div ng-message="match">Passwords must match....</div>
        </div>
        <jqx-button class="form-submit-btn" jqx-settings="vm.settings.btn" ng-disabled="!vm.form.$valid"
                    ng-click="vm.reset(vm.email, vm.password, vm.confirmPassword)">Reset
        </jqx-button>
        <div class="form-response form-invalid-response" ng-hide="vm.message == \'\'">{{ vm.message }}</div>
      </form>
    </div>
  </div>
</div>
